/* General CSS rules for every viewport, including smartphones */

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  color: #fff;
  background: #000;
  font: bold 18px/1.5 PT Sans, sans-serif;
}

header {
  margin: 0px;
  padding: 0px;
  max-width:768px;
  width: auto;
}

h1 {
  font: bold 24px/1.5 PT Sans, sans-serif;
  text-align: center;
}

h2 {
  font: bold 18px/1.5 PT Sans, sans-serif;
  text-align: center;
}

h3 {
  font: bold 13px/1.5 PT Sans, sans-serif;
  text-align: center;
}

img {
  max-width:768px;
  width: 100%;
  height: auto;
}

/* grid */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

[class*="col-"] {
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }

  .col-1-1 {
    max-width: 768px;
    width: 100%;
  }

  .col-1-2 {
    max-width:384px;
    width: 50%;
  }
}
