body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  color: #fff;
  background: #000;
  font: bold 18px/1.5 PT Sans, sans-serif;
}

header {
  max-width:768px;
  width: auto;
}

.col-1-1 {
  padding: 0;
  border: red 2px solid;
}

.banner {
  border: cyan 2px solid;
  padding: 0;
}


#map {
  max-width: 768px;
  width: auto;
}

h1 {
  font: bold 24px/1.5 PT Sans, sans-serif;
  text-align: center;
}

h2 {
  font: bold 18px/1.5 PT Sans, sans-serif;
  text-align: center;
}

h3 {
  font: bold 13px/1.5 PT Sans, sans-serif;
  text-align: center;
}

img {
  max-width:768px;
  width: 100%;
  height: auto;
}

#a {
  border: red 2px solid;
  padding: 0;
  /* width: 100%; */
}

#b {
  border: yellow 2px solid;
  padding: 0;
  /* max-width: 768px; */
  /* width: 100%; */
}

#c {
  border: lime 2px solid;
  /* max-width: 768px; */
  /* width: 100%; */
  padding: 0;
}

#d {
  border: cyan 2px solid;
}

/* grid */
.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.google-map {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  /* padding-bottom: 100%; // This is the aspect ratio */
}

.col-1-2 {
  padding-left: 10px;
  padding-right: 10px;
  /* margin: 10px; */
  width: 100%;
}

@media (min-width: 768px) {
  img {
    width: 100%;
    height: auto;
  }

  .col-1-1 {
    max-width: 768px;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .col-1-2 {
    max-width:384px;
    width: 50%;
  }

  .google-map iframe {
    padding: 0;
    max-width: 768px;
    width: 100%;
    height: 100%;
  }
}
